.box {
  background-color: cornsilk;
  margin: 20px;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px black);
}

body {
  background-color: darkseagreen;
}
